{% extends "base_generic.html" %}

{% block title %}Roster{% endblock %}

{% block content %}
  <h1>Roster</h1>
<table>
  <tr><th>Section:</th> <td><a href="{% url 'grades:section' section.id %}">{{section.number}}</a></td></tr>
  <tr><th>Class:  </th> <td>{{section.course}}</td></tr>
  <tr><th>Semester:</th> <td>{{section.semester}}</td></tr>
</table>
 {% if roster %}

<table class="table table-striped table-condensed">
  <tr>
    <th>
      <span data-tooltip class="has-tip" title="View record for student.">Student</span>
    </th>
    <th>
      <span data-tooltip class="has-tip" title="Edit enrollment status in the admin panel">Enrollment Status</span>
    </th>
  </tr>
  {% for roster_entry in roster %}
  <tr>
    <td><a href="{% url 'grades:roster_student' section.id roster_entry.student.id %}">{{ roster_entry.student }}</a></td>
<td><a href="{% url 'admin:index' %}grades/roster/{{roster_entry.id}}/">{{roster_entry.enrollment_status}}</a></td>
  </tr>
  {% endfor %}
    </table>
{% else %}
    <p>Roster is not available.</p>
{% endif %}

{% endblock %}
